[submodule "ext/libconfig"]
	path = ext/libconfig
	url = https://github.com/hyperrealm/libconfig.git
	ignore = all
[submodule "ext/engine-opengl"]
	path = ext/engine-opengl
	url = git@bitbucket.org:sproberts92/engine-opengl.git
	ignore = all
[submodule "tests/ext/catch"]
	path = tests/ext/catch
	url = https://github.com/philsquared/Catch.git
	ignore = all
