# BSP configuration file

application:
{
	settings:
	{
		dim : 3;
		n_neurons : 50;
		growth_iter : 100;
		prop_iter : 500;
		schwann_l : 1.0;
		bounds = [-50, 50, -50, 50, -50, 50]
	};

	paths:
	{
		growth:
		{
			dir: "output\\growth";
			name: "growth_";
			ext: "dat";
		}

		network:
		{
			dir: "output";
			name: "Complete_Network";
			ext: "dat";
		}

		signal_prop:
		{
			dir: "output\\signal";
			name: "signal_";
			ext: "dat";
		}
	}
};